<!doctype html>
<html>

<head>
    {% if title %}
    <title>{{ title }} - microblg</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kathure</title>
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
{% extends "base.html" %}

{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea molestias soluta sit maiores iure dicta porro vero. In, libero vel soluta nulla quibusdam illum vitae modi voluptas! Dolorum, laboriosam consequatur!</p>
{% endblock %}
 <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/what-input.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>
