<html>

<head>
    {% if title %}
    <title>{{ titile }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kathure</title>
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <div>Microblog:
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/gallery">Gallery</a></li>

            </ul>
        </nav>
    </div>
    <hr> {% with messages = get_flashed_messages() %}
     {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}

    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/what-input.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>
